  <p>
    <img src="<%= @current_user.avatar_url %>">
    Signed in with <%= @current_user.provider.capitalize %> as <%= @current_user.email %>.
    <a href="/sign_out">Sign out</a>
  </p>


<%= styled_flash %>
