  <p>
    <img src="<%= @current_user.avatar_url %>">
    Signed in with <%= @current_user.provider.capitalize %> as <%= @current_user.email %>.
    <a href="/sign_out">Sign out</a>
  </p>


<%= styled_flash %>


@current_user = {"username"=>"Jacinda Zhong",
 "created_at"=>"2014-07-03 22:29:53.664599",
 "avatar_url"=>"https://avatars.githubusercontent.com/u/6325129?",
 "location"=>"Cambridge, MA",
 "company"=>"Launch Academy - Ruby on Rails Scholar",
 "nickname"=>"jacindaz",
 "email"=>"",
 "id"=>"2",
 "uid"=>"6325129",
 "provider"=>"github"}
