<div id="inner-div">

<h3>
  <center>
    <a href="#sign-up">Sign up for a Lightning Talk!</a>
  </center>
</h3>

<hr>

<h3>Who's Signed Up</h3>

<table class="table table-hover">
  <th>Who</th>
  <th>Topic</th>
  <% @all_talks.each do |talk| %>
    <tr>
      <td><%= talk["first_name"] %> <%= talk["last_name"] %></td>
      <td><%= talk["talk_title"] %></td>
    </tr>
  <% end %>
</table>

<hr>

<h3>Sign up Here</h3>

<div name="sign-up">
  <form name="sign_up" id="sign-up" action="/add_talk" method="post">

    <div class="form-group">
      <label for="input-name">First name</label>
      <input type="text" class="form-control" id="input_first_name" placeholder="First name" name="firstname">
    </div>

    <div class="form-group">
      <label for="input-name">Last name</label>
      <input type="text" class="form-control" id="input_last_name" placeholder="Last name" name="lastname">
    </div>

    <div class="form-group">
      <label for="talk-topic">Lightning Talk Topic</label>
      <input type="text" class="form-control" id="talk_topic" placeholder="Enter topic" name="usertalktopic">
    </div>

    <input type="submit" name="button" value="Get excited!" onClick="submitTalk();persistTalk()">

  </form>

</div>

</div>


