<div id="inner-div">

<h3>
  <center>
    <a href="#sign-up">Sign up for a Lightning Talk!</a>
  </center>
</h3>

<hr>

<h3>Who's Signed Up</h3>

<ul datarole="listview" id="talk-list">
  <% @talks.each do |talk| %>
    <li><%= talk %></li>
  <% end %>
</ul>

<hr>

<h3>Sign up Here</h3>

<div name="sign-up">
  <form name="sign_up" id="sign-up">

    <div class="form-group">
      <label for="input-name">Name</label>
      <input type="text" class="form-control" id="input_name" placeholder="Enter name">
    </div>

    <div class="form-group">
      <label for="talk-topic">Lightning talk Topic</label>
      <input type="text" class="form-control" id="talk_topic" placeholder="Enter topic">
    </div>

    <input type="button" name="button" value="Get excited!" onClick="submitTalk();persistTalk()">

  </form>

</div>

</div>


