<!DOCTYPE html>
<html>
<head>
  <title>Lightning Talk Signups</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="/js/jquery-1.11.0.js" type="text/javascript"></script>
  <script src="/js/app.js" type="text/javascript"></script>

</head>

<body>

  <center>
  <img src="/images/lightning_talks_image.jpg" id="main-image">
</center>

<br>

<section>
  <%= yield %>
</section>


</body>
</html>
