/* Jacinda Custom Styles */
body {
  margin: 2% 15%;
  background-color: #F5F242;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#inner-div {
  background-color: white;
  padding: 2% 5%;
  padding-bottom: 50px;
}

.header {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 4em;
}

#hide-div {
  display: none;
}

#main-image {
    height: 50px;
}


h1, h2, h3, h4, h5 {
  color: #ed197b;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}

#talk-description-toggle {
  display:none;
}

a, a:hover {
  text-decoration: none;
}

/***********jQuery Accordion Styles************/
div#accordion div.heading {
  background: #F4FFF9;
  display: block;
  padding: 5px;
  text-decoration: none;
  border: 1px black;
}

