/* Jacinda Custom Styles */
body {
  margin: 2% 15%;
  background-color: #F5F242;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#inner-div {
  background-color: white;
  padding: 2% 5%;
  padding-bottom: 50px;
}

.header {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 4em;
}

#hide-div {
  display: none;
}

#main-image {
    height: 50px;
}


h1, h2, h3, h4, h5 {
  color: #ed197b;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}


a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/***********jQuery Accordion Styles************/
ul#accordion {
  border: 1px solid #999;
  color: #999;
  background: #F4FFF9;
  padding: 2px 15px;
  list-style: none;
}
.one-talk {
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
}
ul#accordion li.one-talk:last-child { border-bottom: none; }
ul#accordion li.one-talk:first-child { border-top: none; }

.talk-header {
  border: 1px #616161;
}

.talk-body {
  border: 1px #616161;
  padding-bottom: 10px;
}

