/* Jacinda Custom Styles */
body {
  margin: 2% 15%;
  background-color: #F5F242;
}

#inner-div {
  background-color: white;
  padding: 2% 5%;
  padding-bottom: 50px;
}

#hide-div {
  display: none;
}

#main-image {
    height: 100px;
}


h1, h2, h3, h4, h5 {
  color: #ed197b;
}
