<h3>About this Site</h3>
<p>
  At Launch Academy we give Lightning Talks every other week, about any subject, coding or not. Lightning Talks have ranged from funeral science to bitwise operators to the latest game that someone has developed. Launchers are able to practice their presentation skills, as well as showcase their new projects, and the concepts they learned along the way.
</p>

