<!DOCTYPE html>
<html>
<head>
  <title>Lightning Talk Signups</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="js/jquery-ui-1.10.4.custom.js"></script>

  <script>
    $(function() {
      $( "#accordion" ).accordion();
    });
  </script>

</head>

<body>

  <a href="/" style="text-decoration:none;">
  <h2 class="header" style="text-align:left;">
    <img src="/images/launch-academy-logo.png">&nbsp;The (En)Lightning Talks
  </h2>
</a>


<div id="inner-div">

<section>
  <%= yield %>
</section>
