<!DOCTYPE html>
<html>
<head>
  <title>Lightning Talk Signups</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="/js/jquery-1.11.0.js" type="text/javascript"></script>
  <script src="/js/app.js" type="text/javascript"></script>

</head>

<body>

<a href="/" style="text-decoration:none;">
  <h1 class="header" style="text-align:left;">
    <img src="/images/launch-academy-logo.png">&nbsp;The (En)Lightning Talks
  </h1>
</a>

<div id="inner-div">

<section>
  <%= yield %>
</section>




</body>
</html>
