<!DOCTYPE html>
<html>
<head>
  <title>Lightning Talk Signups</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="js/jquery-ui-1.10.4.custom.js"></script>

  <script>
     $(function() {
        var icons = {
          header: "arrow-right",
          activeHeader: "arrow-down"
        };
        $( "#accordion" ).accordion({
          icons: icons
        });
      });
  </script>

</head>

<body>

  <a href="/" style="text-decoration:none;">
  <h2 class="header" style="text-align:left;">
    <img src="/images/launch-academy-logo.png">&nbsp;The (En)Lightning Talks
  </h2>
</a>


<div id="inner-div">

<section>
  <%= yield %>
</section>
