<center>

  <h2>Before your talk</h2>
  <img src="/images/confused.jpg" width="200px">
  <br><br>
  <h2>After your talk</h2><br>
  <img src="/images/I-am-so-freaking-enlightened.jpg" width="300px">
  <br><br><br>
  <h1>Thanks for Signing up!</h1>
<br><br>
  <p><a href="/">Take me Home</a></p>
</center>

