<h3>What is a Lightning Talk?</h3>
<p><i>A wise <a href="http://en.wikipedia.org/wiki/Lightning_talk" target="_blank" title="Lightning Talk definition on Wikipedia">Wiki</a> once said...</i></p>
<p>"A lightning talk is a very short presentation given at a conference or similar forum. Unlike other presentations, lightning talks last only a few minutes and several will usually be delivered in a single period by different speakers.</p>
<p>The goal of lightning talks are to demonstrate a topic in a quick and insightful manner. The main point of a lightning talk is the delivery of the presentation, not necessarily the content in it. The significance of these concise and efficient talks is to grab audiences attention. The short presentations are also important because they allow people to understand mass amounts of information in such a short amount of time."</p>
